body {
	background: #ffffff;
	color: #282626;
}
p {
	font-family: helvetica;
}
.title {
	text-align:center;
	margin-top: 100px;
	font-family: 'Pacifico', cursive;
	color: #cf4235;
	font-size: 50px;
}
button {
	border: 4px solid #cf4235;
	background: #cf4235;
	color: #ffffff;
	font-size: 15px;
	width: 200px;
	padding: 5px;

}
a {
	text-decoration:none;
	color: #ffffff;
}
.content {
	padding: 5px 20px 10px;
	text-align:center;
	color: #6a6969;
}
.author {
	padding: 20px 20px 0;
	text-align: center;
	color: #cf4235;
}
.story-title{
	padding: 0 20px 0;
	text-decoration: underline;
	font-size: 20px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #6a6969;
}
.story {

	width:350px;
	margin: 0 auto;
	background: #f2f2f2;
}
.button {
	text-align: center;
	padding-bottom: 20px;
}

.like {
	text-align: center;
}

		
